html,body{
	overflow: hidden;
}

.display-3{
    line-height: 1em;
}

.slick .slide{
    background-size:cover;
    background-position: center center;

}

.slick .slide-inner{
    height:100%;
}

.bg-10{
    background-color: rgba(0,0,0,0.10);
}

.bg-20{
    background-color: rgba(0,0,0,0.20);
}
.bg-30{
    background-color: rgba(0,0,0,0.30);
}
.bg-40{
    background-color: rgba(0,0,0,0.40);
}
.bg-50{
    background-color: rgba(0,0,0,0.50);
}
.bg-60{
    background-color: rgba(0,0,0,0.60);
}
.bg-70{
    background-color: rgba(0,0,0,0.70);
}
.bg-80{
    background-color: rgba(0,0,0,0.80);
}
.bg-90{
    background-color: rgba(0,0,0,0.90);
}
.bg-100{
    background-color: rgba(0,0,0,1);
}
